 
 
  .project-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    background: radial-gradient(
      circle,
     rgb(105, 102, 43),
     rgb(39, 70, 57),
     rgb(23, 20, 20)
    );
  }

  .app-title {
    margin-top: 2.5vh;
    color:white;
    font-size: 2.2vh;
  }
 
  .map-container {
    flex-direction: column;
  }
 
  .curly-1 {
    font-size: 33.5vh;
    margin-right: 8vw;
    color: #7505E6;
  }
  
  .curly-2 {
    font-size: 33.5vh;
    margin-left: 8vw;
    color: #7505E6;
  }
 
  .par-1 {
    font-size: 33.5vh;
    color: #E6C705;
  }
  
  .par-2 {
    font-size: 33.5vh;
    color: #E6C705;
  }
  
   