

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    color: white;
    padding-top: 3em;
     
   }
  
  .hero-text {
    padding-left: 10em;
  }
  
  .hero-image img {
    height: 50%;
    width: 50%;
    max-width: 25em;
    border-radius: 15%; /* Makes it a perfect circle */
    margin-right: 8em;
    Padding-left: 1em;
     
  }
  
  