

.hero-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    color: white;
    padding-top: 5vh;
     
   }
  
  .hero-text {
    padding-left: 4vw;
    color:rgb(208, 201, 193);
  }
  
  .hero-image img {
    height: 50%;
    width: 50%;
    border-radius: 15%; /* Makes it a perfect circle */
    margin-left: 6vw;
  }
  
  